/* font-weight */

fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input::-moz-placeholder {
	color: rgba(51, 51, 51, 0.4);
}

input:-ms-input-placeholder {
	color: rgba(51, 51, 51, 0.4);
}

input::placeholder {
	color: rgba(51, 51, 51, 0.4);
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 1rem;
	outline: none;
	padding: 0.25rem;
	width: 100%;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
	display: inline-block;
	font-size: 1.125rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #fff;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 1.25rem;
	margin: 0;
	transition: .3s;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: white;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #333333;
	color: rgba(255, 255, 255, 0.8);
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #111;
	color: #fff;
	font-family: "Noto Sans JP", "sans-serif";
	font-size: rem(16);
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.l-archive {
	margin-top: 4.375rem;
}

.l-block {
	margin-top: 3.125rem;
}

.l-breadcrumbs {
	margin-top: 1.25rem;
}

.l-breadcrumbs__single {
	margin-top: 3.75rem;
}

.l-notfound {
	margin-top: 1.875rem;
}

.l-pagenavi {
	margin-top: 3.75rem;
}

.l-pagination {
	margin-top: 3.125rem;
}

.l-PrevNext-pagination {
	margin-top: 3.125rem;
}

.l-footer-copyright {
	margin: 2.5rem 0;
}

.l-footer {
	margin-top: 3.125rem;
}

.l-snsNavi {
	margin-top: 1.875rem;
}

.l-header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.l-blog {
	margin-top: 5rem;
}

.l-category {
	margin-top: 3.125rem;
}

.l-contact {
	margin-top: 1.875rem;
}

.l-content-child {
	margin-top: 3.125rem;
}

.l-content-child__item:nth-child(n+2) {
	margin-top: 6.25rem;
}

.l-content {
	margin-top: 3.125rem;
}

.l-google-map {
	margin-top: 7.5rem;
}

.l-overview {
	margin-top: 3.125rem;
}

.l-page {
	margin-top: 2.5rem;
}

.l-single {
	margin-top: 2.5rem;
}

.l-top-btn__center {
	height: 3.125rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.75rem;
}

.l-top-btn__left {
	height: 3.125rem;
	margin-left: 0;
	margin-top: 1.75rem;
}

.l-top-section {
	margin-top: 4.375rem;
}

.l-single-works {
	margin-top: 1.875rem;
}

.l-works-slider {
	margin-top: 1.875rem;
}

.l-works-textarea {
	margin-top: 1.875rem;
}

.l-works {
	margin-top: 1.875rem;
}

.c-btn {
	align-items: center;
	border: 0.0625rem solid #fff;
	display: flex;
	font-size: 1.25rem;
	height: inherit;
	justify-content: center;
	letter-spacing: 0.125rem;
	width: 100%;
}

.c-btn__effect--neon {
	align-items: center;
	background-color: rgba(17, 17, 17, 0.5);
	display: flex;
	height: inherit;
	justify-content: center;
	overflow: hidden;
	position: relative;
	transition: 1s;
}

.c-btn__effect--neon::before {
	-webkit-animation: neonButtonAnimate 2s linear infinite;
	animation: neonButtonAnimate 2s linear infinite;
	background-color: #00ccff;
	content: "";
	height: 40%;
	position: absolute;
	transition: 1s;
	width: 100%;
}

.c-btn__effect--neon::after {
	inset: 0.25rem;
	background-color: #333333;
	content: "";
	position: absolute;
	transition: 0.5s;
}

.c-btn__effect--neon span {
	color: #fff;
	position: relative;
	z-index: 1;
}

.c-drawer-menu,
.c-drawer-menu span {
	box-sizing: border-box;
	display: inline-block;
	transition: all .4s;
}

.c-drawer-menu {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	height: 3.125rem;
	padding: 0 1.875rem;
	position: relative;
	width: 3.125rem;
}

.c-drawer-menu span {
	background-color: #fff;
	border-radius: 5px;
	height: 3px;
	left: 0;
	position: absolute;
	width: 70%;
}

.c-drawer-menu span:nth-of-type(1) {
	left: 50%;
	top: 25%;
	transform: translate3d(-50%, -25%, 0);
}

.c-drawer-menu span:nth-of-type(2) {
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.c-drawer-menu span:nth-of-type(3) {
	left: 50%;
	top: 75%;
	transform: translate3d(-50%, -75%, 0);
}

.c-drawer-menu.active span:nth-of-type(1) {
	top: 50%;
	transform: translate3d(-50%, -50%, 0) rotate(-315deg) scale(0.8);
}

.c-drawer-menu.active span:nth-of-type(2) {
	background-color: transparent;
	border: 3px solid #fff;
	border-radius: 50%;
	height: 3.125rem;
	width: 3.125rem;
}

.c-drawer-menu.active span:nth-of-type(3) {
	top: 50%;
	transform: translate3d(-50%, -50%, 0) rotate(315deg) scale(0.8);
}

.c-test {
	color: red;
	font-size: 1.25rem;
}

.p-notfound p {
	font-size: 2.25rem;
	text-align: center;
}

.p-notfound__btnblock {
	background-color: #333333;
	max-width: 18.75rem;
	width: 100%;
}

.p-blog-card {
	background-color: #fff;
	color: #333333;
	position: relative;
	transition: all .3s;
	width: 100%;
}

.p-blog-card__link {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.p-blog-card__img {
	overflow: hidden;
	padding-top: 62.5%;
	position: relative;
	width: 100%;
	z-index: 1;
}

.p-blog-card__img:hover {
	transition: 0.5s;
}

.p-blog-card__img::after {
	background-color: rgba(255, 234, 46, 0.1);
	bottom: -30%;
	content: "";
	height: 0;
	left: -5%;
	position: absolute;
	transform: skewY(-10deg) scale(1, 1);
	transform-origin: left bottom;
	transition: .5s;
	width: 110%;
	z-index: 5;
}

.p-blog-card__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-blog-card__body {
	padding: 0.25rem 1.4375rem 0;
}

.p-blog-card__title {
	font-size: 1.125rem;
	font-weight: 500;
	letter-spacing: 0.0625rem;
	line-height: 1.9;
}

.p-blog-card__text {
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.0625rem;
	line-height: 1.85;
}

.p-blog-card__info {
	align-items: center;
	display: flex;
	font-size: 0.875rem;
	font-weight: 400;
	justify-content: space-between;
	letter-spacing: 0.0625rem;
	line-height: 1.85;
	margin-top: auto;
	padding: 0 1.4375rem 1rem;
}

.p-blog-card__category {
	background-color: #FFEA2E;
	color: #333333;
	padding: 0rem 0.1875rem;
}

.p-blog-card__mark {
	background-color: #FFBA6A;
	border-radius: 50%;
	color: #333333;
	font-size: 1rem;
	font-weight: 400;
	height: 3.75rem;
	left: -0.9375rem;
	letter-spacing: 0.125rem;
	line-height: 3.75rem;
	position: absolute;
	text-align: center;
	text-transform: capitalize;
	top: -1rem;
	width: 3.75rem;
	z-index: 10;
}

.p-blog-cards__item:nth-child(n + 2) {
	margin-top: 1.4375rem;
}

.p-archive__title {
	font-size: 1.5rem;
	text-align: center;
}

.p-category__list {
	gap: 1.875rem;
	display: flex;
	flex-wrap: wrap;
}

.p-category__link {
	opacity: 0.3;
	padding: 0.5rem 0.625rem;
}

.p-category__link--all {
	background-color: #fff;
	color: #333333;
}

.p-category__link.current {
	opacity: 1;
}

.p-category__link:hover {
	opacity: 1;
	transition: 0.3s;
}

.p-contact-section {
	background-image: linear-gradient(#333333, rgba(51, 51, 51, 0.7)), url("../img/contact-bg.jpg");
	background-position: 50% 25%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.p-contact-section__inner {
	padding-bottom: 3.75rem;
	padding-top: 3.75rem;
}

.p-contact-section__textblock {
	margin-top: 1.0625rem;
}

.p-contact-section__text {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.438;
}

.p-contact-section__btnblock {
	background-color: #333333;
}

.p-g-nav__list {
	z-index: 20;
}

.p-g-nav__link {
	display: inline-block;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	padding: 0.9375rem 0;
	width: 100%;
}

.p-page-head__wrapper {
	position: relative;
}

.p-page-head__img {
	height: 26.5625rem;
	width: 100%;
}

.p-page-head__img::before {
	background-color: rgba(17, 17, 17, 0.4);
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.p-page-head__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.p-page-head__container {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.p-page-head__title {
	font-size: 1.75rem;
	font-weight: 700;
	width: 100%;
}

.p-page__content h2 {
	border-bottom: 6px double #F9F871;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 700;
	padding: 0 0.25rem;
}

.p-page__content h3 {
	border-left: 0.3125rem solid #F9F871;
	display: inline-block;
	font-size: 1.25rem;
	font-weight: 500;
}

.p-page__content h4 {
	border-bottom: 0.3125rem solid #F9F871;
	display: inline-block;
	font-size: 1.125rem;
	font-weight: 500;
}

.p-page__content p {
	font-size: 1rem;
	line-height: 2;
	margin-top: 1.875rem;
}

.wp-pagenavi {
	clear: both;
	text-align: center;
}

.wp-pagenavi a,
.wp-pagenavi span {
	background-color: #333333;
	border: thin dotted #fff;
	color: #fff;
	font-size: 0.75rem;
	margin: 0 0.375rem;
	padding: 0.375rem 0.625rem;
	text-align: center;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	white-space: nowrap;
}

.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
	display: none;
}

.wp-pagenavi a:hover {
	background-color: #fff;
	color: #333333;
}

.wp-pagenavi span.current {
	background-color: #fff;
	color: #333333;
}

.p-pagetop {
	background-color: #fff;
	bottom: 2.5rem;
	height: 2.8125rem;
	position: fixed;
	right: 1.25rem;
	width: 2.8125rem;
	z-index: 2;
}

.p-pagetop:hover {
	background-color: #333333;
}

.p-pagetop::before,
.p-pagetop::after {
	background-color: #333333;
	content: "";
	height: 0.125rem;
	position: absolute;
	top: 46%;
	width: 40%;
}

.p-pagetop:hover::after,
.p-pagetop:hover::before {
	background-color: #fff;
}

.p-pagetop::before {
	border-radius: 50% 0 0 50%;
	left: 0.5rem;
	transform: rotate(-45deg);
}

.p-pagetop::after {
	border-radius: 0 50% 50% 0;
	right: 0.5rem;
	transform: rotate(45deg);
}

.p-pagination__wrapper {
	text-align: center;
}

.p-pagination__wrapper span,
.p-pagination__wrapper a {
	color: #fff;
	font-size: 1rem;
	transition: 0.2s ease-in-out;
}

.p-pagination__wrapper a {
	background-color: #333333;
	border: thin dotted #fff;
	margin: 0 0.5rem;
	padding: 0.375rem 0.75rem;
}

.p-pagination__wrapper a:hover {
	background-color: #fff;
	color: #333333;
}

.p-pagination__wrapper span.current {
	background-color: #fff;
	color: #333333;
	margin: 0 0.5rem;
	padding: 0.375rem 0.75rem;
}

.p-PrevNext-pagination {
	font-size: 0.875rem;
	text-align: center;
}

.p-PrevNext-pagination__inner {
	align-items: center;
	display: flex;
	justify-content: center;
}

.p-PrevNext-pagination__archive {
	margin: 0 0.75rem;
}

.p-PrevNext-pagination__link {
	background-color: #333333;
	border: 1px solid #fff;
	padding: 0.625rem 0.625rem;
}

.p-PrevNext-pagination__link:hover {
	background-color: #fff;
	color: #333333;
	transition: 0.3s;
}

.p-section-header {
	position: relative;
}

.p-section-header__title--en {
	color: #F9F871;
	display: block;
	font-family: "Noto Serif JP", "serif";
	font-size: 3.125rem;
	font-weight: 400;
	line-height: 1;
	opacity: 0.27;
	text-transform: capitalize;
	width: 100%;
}

.p-section-header__title--ja {
	display: block;
	font-size: 1.25rem;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 70%;
	transform: translateX(-50%);
	width: 100%;
}

.p-single__content h1 {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 700;
	padding: 0 0.25rem;
}

.p-single__content h2 {
	border-left: 6px double #F9F871;
	font-size: 1.375rem;
	font-weight: 700;
	margin-top: 0.3125rem;
	padding: 0 0.25rem;
}

.p-single__content h3 {
	border-bottom: 0.3125rem solid #F9F871;
	display: inline-block;
	font-size: 1.25rem;
	font-weight: 500;
}

.p-single__content h4 {
	border-bottom: 0.3125rem solid #F9F871;
	display: inline-block;
	font-size: 1.125rem;
	font-weight: 500;
}

.p-single__content p {
	font-size: 1rem;
	line-height: 2;
	margin-top: 1.875rem;
}

.p-snsNavi__list {
	display: flex;
	justify-content: center;
}

.p-snsNavi__list li:nth-child(n+2) {
	margin-left: 1.875rem;
}

.p-snsNavi__item {
	width: 5rem;
}

.p-contact-complete {
	font-size: 1rem;
	line-height: 1.8;
	margin: 1.875rem auto 0;
	padding: 0 1.25rem;
	text-align: left;
	width: 100%;
}

.p-contact-form__table {
	border-spacing: 0 2rem;
	font-size: 1rem;
	margin: 0 auto;
}

.p-contact-form__table tr {
	display: flex;
	flex-direction: column;
}

.p-contact-form__table tr + tr {
	margin-top: 1.25rem;
}

.p-contact-form__table th {
	text-align: left;
	width: 12.5rem;
}

.p-contact-form__table th > span {
	color: #FF5757;
}

.p-contact-form__table td {
	max-width: 33.75rem;
	width: 100%;
}

.mw_wp_form_preview .p-contact-form__table {
	max-width: 33.75rem;
	width: 100%;
}

.mw_wp_form_preview .p-contact-form__table td {
	background-color: rgba(51, 51, 51, 0.5);
	border: 2px solid #fff;
	color: cornflowerblue;
	display: list-item;
	list-style: outside;
	padding: 0.25rem;
}

.mw_wp_form_preview .p-contact-form__td::marker {
	color: rgba(255, 255, 255, 0);
}

.mw_wp_form_preview .p-contact-privacy__text,
.mw_wp_form_preview .p-contact-privacy__check {
	display: none;
}

.p-contact__error {
	color: #FF5757;
	display: none;
	margin-top: 1.875rem;
	text-align: center;
}

.p-contact-form__td.is-error > input,
.p-contact-form__td.is-error > textarea {
	background-color: #ffdcdc;
}

.p-contact-privacy {
	margin-top: 0.625rem;
	text-align: center;
}

.p-contact-privacy__text {
	font-size: 1rem;
}

.p-contact-privacy__text a {
	cursor: pointer;
	text-decoration: underline;
}

.p-contact-privacy__check {
	font-size: 1.0625rem;
	margin-top: 2.5rem;
}

.p-contact-step {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
}

.p-contact-step__item {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.p-contact-step__icon {
	align-items: center;
	background-color: #333333;
	border: 0.0625rem solid #fff;
	border-radius: 50%;
	display: flex;
	font-size: 1.25rem;
	height: 3.125rem;
	justify-content: center;
	width: 3.125rem;
}

.p-contact-step__text {
	font-size: 0.875rem;
}

.p-contact-step > li:nth-of-type(n + 2) {
	margin-left: 3.125rem;
}

.p-contact-step > li:nth-of-type(n + 2)::before {
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	content: "";
	height: 1.25rem;
	left: -2.5rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(135deg);
	width: 1.25rem;
}

.mw_wp_form_input .p-contact-step > li:nth-of-type(1) > .p-contact-step__icon,
.mw_wp_form_preview .p-contact-step > li:nth-of-type(2) > .p-contact-step__icon,
.mw_wp_form_complete .p-contact-step > li:nth-of-type(3) > .p-contact-step__icon {
	background-color: #F9F871;
	color: #333333;
}

.p-contact-submit {
	margin-top: 2.5rem;
	text-align: center;
}

.p-contact-submit__btn--send,
.p-contact-submit__btn--back {
	font-size: 1.25rem;
	max-width: 31.25rem;
	padding: 0.9375rem;
	width: 80%;
}

.p-contact-submit__btn--send {
	border: 2px solid #3498db;
	margin-top: 1.25rem;
}

.p-contact-submit__btn--send:disabled {
	border: 2px solid #fff;
}

.p-contact-submit__btn--back {
	border: 2px solid #FF5757;
}

.p-content-child__list li:nth-child(even) .p-content-child__body {
	flex-direction: row-reverse;
}

.p-content-child__img {
	padding-top: 70%;
	position: relative;
	width: 100%;
}

.p-content-child__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-content-child__sentence {
	width: 100%;
}

.p-content-child__title {
	font-size: 1.5rem;
}

.p-content-child__excerpt {
	font-size: 1rem;
	margin-top: 0.9375rem;
}

.p-content__title {
	font-size: 2.25rem;
	font-weight: 500;
	text-align: center;
}

.p-content__textblock {
	margin-top: 1.875rem;
	padding: 0 0.625rem;
}

.p-content__text {
	font-size: 1.125rem;
	line-height: 2;
}

.p-footer__navigation {
	flex: 1;
}

.p-footer-copyright {
	text-align: center;
}

.p-footerLogo {
	text-align: center;
}

.p-footerLogo__title {
	font-family: "Jura", sans-serif;
	font-size: 3.125rem;
}

.p-footerLogo__title p {
	color: transparent;
	display: flex;
	justify-content: center;
}

.p-footerLogo__title p span {
	-webkit-animation: logoAnime 5s linear infinite;
	-webkit-animation-delay: calc(0.1s * var(--i));
	animation: logoAnime 5s linear infinite;
	animation-delay: calc(0.1s * var(--i));
}

.p-footerLogo__enterprise h2 {
	font-size: 1.875rem;
}

.p-footerLogo__enterprise h2 span {
	display: inline-block;
}

.p-footerLogo__enterprise p {
	font-size: 1rem;
	line-height: 1.8;
}

.p-footerNav__list {
	display: flex;
	flex-wrap: wrap;
}

.p-footerNav__list > li {
	height: 5rem;
	text-align: center;
	width: 50%;
}

.p-footerNav__list a {
	display: inline-block;
	font-size: 1.25rem;
	padding: 0.75rem 0.9375rem;
}

.p-header {
	background-color: rgba(51, 51, 51, 0.5);
	height: 3.125rem;
	z-index: 20;
}

.p-header__inner {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
	position: relative;
}

.p-header-logo {
	height: inherit;
	margin-left: 0.125rem;
	z-index: 100;
}

.p-header-logo a {
	height: inherit;
}

.p-header-logo__title {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	font-family: "Jura", sans-serif;
	height: inherit;
	justify-content: center;
}

.p-header-logo__title span {
	font-size: 0.75rem;
}

.p-header__menu {
	height: inherit;
	z-index: 100;
}

.p-header-nav {
	-webkit-overflow-scrolling: touch;
	height: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 40;
}

.p-header-nav.is-open {
	background-color: rgba(51, 51, 51, 0.9);
	height: 100vh;
}

.p-header-nav__container {
	margin-top: 6.25rem;
	text-align: center;
}

.p-header-nav__btn {
	display: inline-block;
	padding: 0.9375rem 0;
	width: 100%;
}

.p-header-nav__circle-background {
	display: none;
	transition: all 0.3s;
}

.p-header-nav__circle-background.is-open {
	background-color: rgba(51, 51, 51, 0);
	content: "";
	display: block;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -2;
}

.p-newsBlock__item {
	margin-top: 1.875rem;
}

.p-newsBlock__header {
	align-items: center;
	display: flex;
	margin-right: 3.75rem;
}

.p-newsBlock__date {
	font-size: 1rem;
	padding-right: 2rem;
}

.p-newsBlock__category {
	border: 0.0625rem solid #fff;
	font-size: 0.875rem;
	padding: 0.28125rem 1.25rem;
}

.p-newsBlock__titleblock {
	flex: 1;
	font-size: 1rem;
	margin-top: 1.125rem;
}

.p-newsblock__title {
	font-size: 1rem;
}

.p-google-map__inner {
	width: 100%;
}

.p-google-map__wrapper {
	height: 299px;
	position: relative;
	width: 100%;
}

.p-google-map__wrapper iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-overview {
	overflow: hidden;
}

.p-overview__item {
	padding: 0.625rem 0.9375rem;
}

.p-overview__title {
	font-size: 1rem;
	padding: 0.125rem 0 0.125rem 0.9375rem;
	position: relative;
	width: 100%;
}

.p-overview__title::after {
	background-color: #FFEA2E;
	content: "";
	height: 0.125rem;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0.625rem;
}

.p-overview__text {
	font-size: 1rem;
	padding: 0.3125rem 0 0.3125rem;
	position: relative;
	width: 100%;
}

.p-overview__text::after {
	background-color: #fff;
	bottom: 0;
	content: "";
	height: 0.125rem;
	left: 0;
	position: absolute;
	width: 100%;
}

.p-mv-para {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.p-mv-para::before {
	background: linear-gradient(to top, #111, transparent);
	bottom: 0;
	content: '';
	height: 6.25rem;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.p-mv-para::after {
	background: #111;
	content: '';
	height: 100%;
	left: 0;
	mix-blend-mode: color;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}

.p-mv-para img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
}

.c-mv__title {
	color: #fff;
	font-size: 6.25rem;
	position: relative;
	z-index: 1;
}

#road {
	z-index: 2;
}

.p-top-backslash__first {
	background: linear-gradient(to top right, transparent, transparent 49.9%, #F9F871 50%, #F9F871 50%, transparent 50.1%, transparent);
	height: 42.4375rem;
	left: 0;
	position: absolute;
	top: 1.25rem;
	width: 100%;
	z-index: -5;
}

.p-top-backslash__second {
	background: linear-gradient(to top left, transparent, transparent 49.9%, #F9F871 50%, #F9F871 50%, transparent 50.1%, transparent);
	height: 87.375rem;
	left: 0;
	position: absolute;
	top: 12.5rem;
	width: 100%;
	z-index: -5;
}

.p-top-blog__btnblock {
	background-color: #333333;
}

.p-top-content {
	position: relative;
}

.p-top-content__wrapper {
	margin-top: 3rem;
}

.p-top-content__list {
	-ms-grid-columns: 1fr 1fr;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.p-top-content__item {
	position: relative;
}

.p-top-content__link::after {
	background-color: rgba(17, 17, 17, 0.3);
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.p-top-content__img {
	padding-top: 88.88%;
	position: relative;
	width: 100%;
}

.p-top-content__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-top-content__textblock {
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	z-index: 30;
}

.p-top-content__text {
	font-size: 1.25rem;
}

.p-top-mv {
	position: relative;
}

.p-top-mv::before {
	background: linear-gradient(to top, #111, transparent);
	bottom: 0;
	content: '';
	height: 9.375rem;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.p-top-mv__swiper-container {
	overflow: hidden;
}

.p-top-mv__slide-img::before {
	background-color: rgba(17, 17, 17, 0.2);
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.p-top-mv__slide-img img {
	-o-object-fit: cover;
	display: block;
	height: 100vh;
	object-fit: cover;
	width: 100%;
}

.swiper-slide-active .p-top-mv__slide-img,
.swiper-slide-duplicate-active .p-top-mv__slide-img,
.swiper-slide-prev .p-top-mv__slide-img {
	-webkit-animation: zoomUp 10s linear 0s 1 normal both;
	animation: zoomUp 10s linear 0s 1 normal both;
}

.p-top-mv__titlebox {
	left: 50%;
	position: absolute;
	top: 40%;
	transform: translateY(-40%) translateX(-50%);
	width: 100%;
	z-index: 1;
}

.p-top-mv__title {
	font-size: 1.875rem;
	font-weight: 700;
	letter-spacing: 0.02813rem;
	text-align: center;
}

.p-top-mv__title span {
	display: inline-block;
}

.p-top-mv__subtitle {
	font-size: 1rem;
	letter-spacing: 0.03125rem;
	line-height: 1.5;
	margin-top: 0.8125rem;
	padding: 0 1.875rem;
	text-align: left;
}

.p-top-mv__subtitle--second {
	margin-top: 0.8125rem;
}

.p-top-news__btnblock {
	background-color: #333333;
}

.p-top-overview__body {
	position: relative;
}

.p-top-overview__body::after {
	background-color: #333333;
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.p-top-overview__imgblock {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: 100vw;
}

.p-top-overview__img {
	padding-top: 62.5%;
	position: relative;
	width: 100%;
}

.p-top-overview__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-top-overview__content {
	padding-bottom: 1.3125rem;
	padding-top: 1.5rem;
}

.p-top-overview__title {
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	text-align: center;
}

.p-top-overview__text {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.438;
	margin-top: 1.375rem;
}

.p-top-overview__btnblock {
	background-color: #333333;
}

.p-top-works {
	position: relative;
}

.p-top-works__body {
	position: relative;
}

.p-top-works__body::after {
	background-color: #333333;
	bottom: 0;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.p-top-works__wrapper {
	position: relative;
	z-index: 2;
}

.p-top-works__swiper {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	overflow: hidden;
	width: 100vw;
}

.p-top-works__slide {
	overflow: hidden;
	padding-top: 62.5%;
	position: relative;
	width: 100%;
	will-change: transform;
}

.p-top-works__slide-img {
	background-position: center;
	background-size: cover;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	will-change: transform;
}

.p-top-works__slide-img::before {
	background-color: rgba(17, 17, 17, 0.5);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.p-top-works__slide-heading {
	color: #FF5757;
	left: 0;
	margin-left: 5%;
	padding-left: 1%;
	position: absolute;
	top: 32%;
	width: 90%;
}

.p-top-works__slide-title {
	font-size: 1.5rem;
	font-weight: 800;
}

.p-top-works__slide-text {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.35;
	margin-top: 0.875rem;
	transform: translateX(50px);
}

.p-top-works__pagenation-wrapper {
	margin-top: -0.1875rem;
	text-align: center;
}

.swiper-pagination-bullet {
	margin: 0 0.34375rem !important;
}

.swiper-pagination-bullet {
	background-color: #3D3D3D !important;
	opacity: 1 !important;
}

.swiper-pagination-bullet-active {
	background-color: #F9F871 !important;
}

.p-top-works__content {
	padding-bottom: 1.3125rem;
	padding-top: 0.25rem;
}

.p-top-works__title {
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.1;
	text-align: center;
}

.p-top-works__text {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
	line-height: 1.438;
	margin-top: 1.375rem;
}

.p-top-works__btnblock {
	background-color: #333333;
}

.p-works-header__title {
	font-size: 1.5rem;
}

.p-works-slider__inner {
	margin: 0 auto;
	max-width: 50rem;
}

.p-works-slider__container--main {
	overflow: hidden;
	position: relative;
}

.p-works-slider__img--main {
	padding-top: 62.5%;
	position: relative;
	width: 100%;
}

.p-works-slider__img--main img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
	background-color: #3D3D3D;
	border-radius: 50%;
	height: 1.75rem;
	width: 1.75rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	color: #F9F871;
	font-size: 0.9375rem;
}

.p-works-slider__container--thumbnail {
	margin-top: 0.625rem;
	overflow: hidden;
}

.p-works-slider__img--thumbnail {
	opacity: 0.5;
	padding-top: 20%;
	position: relative;
	width: 100%;
}

.p-works-slider__img--thumbnail.swiper-slide-thumb-active {
	opacity: 1;
}

.p-works-slider__img--thumbnail img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 0;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-works-textarea__title {
	background-color: #111;
	border: 1px solid #fff;
	border-radius: 32px;
	display: inline-block;
	font-size: 1.125rem;
	margin-top: 3.125rem;
	padding: 0.5rem 1.5625rem;
}

.p-works-textarea__text {
	border: 1px solid #fff;
	margin-top: -1.25rem;
	padding: 2.75rem 1.375rem 2.125rem;
}

.p-works__list {
	text-align: center;
}

.p-works__list > li:nth-child(n+2) {
	margin-top: 3.75rem;
}

.p-works__item {
	position: relative;
}

.p-works__link:hover .p-works__img img {
	transform: scale(1.1);
}

.p-works__img {
	overflow: hidden;
	padding-top: 62.5%;
	position: relative;
	width: 100%;
}

.p-works__img img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	transition: 0.3s;
	width: 100%;
}

.p-works__category {
	display: flex;
	flex-wrap: wrap;
}

.p-works__terms::before {
	content: '#';
}

.p-works__terms {
	background: #dbebf8;
	border-radius: 25px 0px 0px 25px;
	display: inline-block;
	margin: 0.3125rem 0.3125rem; /*左側の角を丸く*/
	opacity: 0.5;
	padding: 0.625rem 1.25rem; /*背景色*/
	vertical-align: middle;
}

.p-works__terms:hover {
	opacity: 1;
	transition: 0.3s;
}

.p-works__title {
	font-size: 1.25rem;
	line-height: 1.75;
	margin-top: 1.5rem;
}

/*じわりと表示*/

.u-blur {
	-webkit-animation-name: blurAnime;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: blurAnime;
}

.js-blurTrigger {
	opacity: 0;
}

/* ドロワーメニュークリック時、背景全体をぼかす */

.u-mainblur {
	-webkit-animation: blur .6s ease-out forwards;
	animation: blur .6s ease-out forwards;
}

.u-fadeIn {
	-webkit-animation-name: fadeInAnime;
	-webkit-animation-duration: 2s; /*ゆっくり出現するため数値変更*/
	-webkit-animation-fill-mode: forwards;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-name: fadeInAnime;
	opacity: 0;
}

/*テキストがほのかに光りながら出現*/

.js-glowAnime span {
	opacity: 0;
}

.js-glowAnime.u-glowAnime span {
	-webkit-animation: glow_anime_on 1s ease-out forwards;
	animation: glow_anime_on 1s ease-out forwards;
}

/*上への動き*/

#u-header.UpMove {
	-webkit-animation: UpAnime 0.5s forwards;
	animation: UpAnime 0.5s forwards;
}

/*下への動き*/

#u-header.DownMove {
	-webkit-animation: DownAnime 0.5s forwards;
	animation: DownAnime 0.5s forwards;
}

.u-hidden-tab {
	display: none;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media screen and (min-width: 375px) {

html {
	font-size: 16px;
}

.u-hidden-sp {
	display: none;
}

}

@media screen and (min-width: 768px) {

input[type="radio"] + span,
input[type="checkbox"] + span {
	font-size: 1.5rem;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

html {
	font-size: 1.45455vw;
}

.l-inner {
	max-width: 1150px;
	padding-left: 25px;
	padding-right: 25px;
}

.l-block {
	margin-top: 4.375rem;
}

.l-notfound {
	margin-top: 3.125rem;
}

.l-pagenavi {
	margin-top: 3.75rem;
}

.l-pagination {
	margin-top: 4.375rem;
}

.l-footer-copyright {
	margin: 1.25rem 0;
}

.l-snsNavi {
	margin-top: 0.625rem;
}

.l-category {
	margin-top: 5rem;
}

.l-content-child {
	margin-top: 1.875rem;
}

.l-content-child__item:nth-child(n+2) {
	margin-top: 5rem;
}

.l-content {
	margin-top: 5rem;
}

.l-google-map {
	margin-top: 5rem;
}

.l-overview {
	margin-top: 5rem;
}

.l-page {
	margin-top: 3.75rem;
}

.l-single {
	margin-top: 3.75rem;
}

.l-top-btn__center {
	max-width: 22.5rem;
}

.l-top-btn__left {
	max-width: 22.5rem;
}

.l-top-section {
	margin-top: 9.375rem;
}

.l-works {
	margin-top: 2.5rem;
}

.c-btn {
	font-size: 1rem;
}

.c-btn__effect--neon:hover:before {
	height: 100%;
}

.c-btn__effect--neon:hover {
	background-color: #00ccff;
	box-shadow: 0 0 10px #00ccff, 0 0 30px #00ccff, 0 0 60px #00ccff, 0 0 100px #00ccff;
}

.c-btn__effect--neon:hover:after {
	background-color: #00ccff;
}

.c-test {
	color: green;
	font-size: 3.125rem;
}

.p-notfound__btnblock {
	position: relative;
	z-index: 1;
}

.p-notfound__btnblock:hover {
	color: #333333;
	transition: all .3s;
}

.p-notfound__btnblock::after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .3s;
	width: 0;
	z-index: -1;
}

.p-notfound__btnblock:hover::after {
	left: 0;
	width: 100%;
}

.p-blog-card:hover {
	background-color: #333333;
	color: #fff;
}

.p-blog-card:hover .p-blog-card__img::after {
	height: 140%;
	top: 0;
}

.p-blog-card__img {
	padding-top: 62.5%;
}

.p-blog-card__text {
	line-height: 1.95;
}

.p-blog-card__category {
	padding: 0rem 0.3125rem;
}

.p-blog-cards {
	-ms-grid-columns: 1fr 1fr 1fr;
	gap: 1.5625rem;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.p-blog-cards__item:nth-child(n + 2) {
	margin-top: initial;
}

.p-archive__title {
	font-size: 2.25rem;
}

.p-contact-section__inner {
	padding-bottom: 5.625rem;
	padding-top: 5.625rem;
}

.p-contact-section__textblock {
	margin-top: 1.375rem;
	text-align: center;
}

.p-contact-section__text {
	font-size: 1rem;
	font-weight: 400;
	line-height: initial;
}

.p-contact-section__btnblock {
	position: relative;
	z-index: 1;
}

.p-contact-section__btnblock:hover {
	color: #333333;
	transition: all .3s;
}

.p-contact-section__btnblock::after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .3s;
	width: 0;
	z-index: -1;
}

.p-contact-section__btnblock:hover::after {
	left: 0;
	width: 100%;
}

.p-g-nav__list {
	display: flex;
	height: inherit;
}

.p-g-nav__item {
	height: inherit;
	margin-top: initial;
}

.p-g-nav__link {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: center;
	line-height: 2.1875;
	padding: 0 0.9375rem;
}

.p-page-head__img {
	height: 23.125rem;
}

.p-page-head__title {
	font-size: 2.1875rem;
}

.p-page__content h2 {
	font-size: 2.25rem;
}

.p-page__content h3 {
	font-size: 1.875rem;
}

.p-page__content h4 {
	font-size: 1.625rem;
}

.p-page__content p {
	font-size: 1.125rem;
}

.wp-pagenavi a,
.wp-pagenavi span {
	font-size: 1rem;
	margin: 0 0.625rem;
	padding: 0.5rem 0.875rem;
}

.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
	display: initial;
}

.p-pagetop {
	bottom: 1.875rem;
	right: 1.875rem;
	transition: background-color .3s;
}

.p-pagination__wrapper span,
.p-pagination__wrapper a {
	font-size: 1.25rem;
}

.p-pagination__wrapper a {
	margin: 0 0.9375rem;
	padding: 0.5rem 0.9375rem;
}

.p-pagination__wrapper span.current {
	margin: 0 0.625rem;
	padding: 0.5rem 0.9375rem;
}

.p-PrevNext-pagination {
	font-size: 1rem;
}

.p-PrevNext-pagination__archive {
	margin: 0 3.125rem;
}

.p-PrevNext-pagination__link {
	padding: 0.625rem 1.25rem;
}

.p-section-header__title--en {
	font-size: 6.875rem;
}

.p-section-header__title--ja {
	font-size: 1.875rem;
	top: 10%;
}

.p-section-header__title--right {
	text-align: end;
}

.p-single__content h1 {
	font-size: 2.375rem;
}

.p-single__content h2 {
	font-size: 2rem;
}

.p-single__content h3 {
	font-size: 1.75rem;
}

.p-single__content h4 {
	font-size: 1.5rem;
}

.p-single__content p {
	font-size: 1.125rem;
}

.p-snsNavi__list {
	justify-content: end;
}

.p-snsNavi__list li:nth-child(n+2) {
	margin-left: 0.9375rem;
}

.p-snsNavi__item {
	width: 3.75rem;
}

.p-contact-complete {
	font-size: 1.5rem;
}

.p-contact-form__table {
	border-spacing: 0 2.625rem;
}

.p-contact-form__table tr {
	display: inherit;
	position: relative;
}

.p-contact-form__table tr + tr {
	margin-top: initial;
}

.p-contact-form__table th {
	left: -13.125rem;
	padding: 0.25rem 0;
	position: absolute;
	text-align: right;
	z-index: 100;
}

.p-contact-privacy__text {
	font-size: 1.25rem;
}

.p-contact-privacy__check {
	font-size: 1.25rem;
}

.p-contact-step__text {
	font-size: 1rem;
}

.p-contact-step > li:nth-of-type(n + 2) {
	margin-left: 6.25rem;
}

.p-contact-step > li:nth-of-type(n + 2)::before {
	left: -4.375rem;
}

.p-contact-submit {
	margin-top: 1.875rem;
}

.p-contact-submit__btn--send,
.p-contact-submit__btn--back {
	width: 15rem;
}

.p-content-child__body {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.p-content-child__img {
	padding-top: 30%;
	width: 48%;
}

.p-content-child__sentence {
	width: 48%;
}

.p-content-child__title {
	font-size: 2.25rem;
}

.p-content__textblock {
	padding: 0 3.125rem;
}

.p-footer__container {
	display: flex;
	justify-content: flex-start;
}

.p-footer__contact {
	border-right: 1px solid #fff;
	width: 25%;
}

.p-footerLogo {
	text-align: start;
}

.p-footerLogo__title {
	font-size: 1.875rem;
}

.p-footerLogo__title p {
	justify-content: start;
}

.p-footerLogo__enterprise h2 {
	font-size: 1.5rem;
}

.p-footerLogo__enterprise p {
	font-size: 1rem;
}

.p-footerNav__list > li {
	height: 3.125rem;
	text-align: left;
	width: 33.2%;
}

.p-footerNav__list a {
	font-size: 1rem;
}

.p-header-logo {
	margin-left: 2.0625rem;
}

.p-header-logo__title span {
	font-size: 1rem;
}

.p-header__menu {
	display: none;
}

.p-header-nav {
	height: inherit;
	overflow: initial;
	position: static;
	width: initial;
}

.p-header-nav__container {
	display: flex;
	height: inherit;
	margin-top: initial;
}

.p-header-nav__item--contact {
	background-color: #fff;
	color: #333333;
	margin-left: 0.9375rem;
	margin-right: 0;
}

.p-header-nav__link--contact {
	padding: 0 1.875rem;
}

.p-header-nav__contact {
	background-color: #fff;
	color: #333333;
	height: inherit;
	margin-left: 0.9375rem;
	margin-top: initial;
}

.p-header-nav__btn {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: center;
	padding: 0 1.875rem;
	position: relative;
	z-index: 1;
}

.p-header-nav__btn:hover {
	color: #fff;
	transition: all .3s;
}

.p-header-nav__btn::after {
	background-color: #333333;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .3s;
	width: 0;
	z-index: -1;
}

.p-header-nav__btn:hover::after {
	left: 0;
	width: 100%;
}

.p-newsBlock__item {
	align-items: center;
	display: flex;
}

.p-newsBlock__date {
	padding-right: 3.125rem;
}

.p-newsBlock__titleblock {
	margin-top: initial;
}

.p-newsblock__title {
	font-size: 1.25rem;
}

.p-google-map__inner {
	margin: 0 auto;
	max-width: 1150px;
	padding-left: 25px;
	padding-right: 25px;
}

.p-google-map__wrapper {
	height: 0;
	padding-top: 33.3%;
}

.p-overview__item {
	display: flex;
	padding: 0.625rem 3.125rem;
}

.p-overview__title {
	font-size: 1.125rem;
	padding: 1.25rem 0 0.3125rem;
	width: 20%;
}

.p-overview__title::after {
	bottom: 0;
	top: initial;
	transform: none;
	width: 100%;
}

.p-overview__text {
	font-size: 1.125rem;
	padding: 1.25rem 0 0.3125rem;
	width: 80%;
}

.p-top-backslash__first {
	height: 75.6875rem;
	top: -3.75rem;
	width: 100%;
}

.p-top-backslash__second {
	height: 75.625rem;
	top: 42.5rem;
	width: 100%;
}

.p-top-blog__btnblock {
	position: relative;
	z-index: 1;
}

.p-top-blog__btnblock:hover {
	color: #333333;
	transition: all .3s;
}

.p-top-blog__btnblock::after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .3s;
	width: 0;
	z-index: -1;
}

.p-top-blog__btnblock:hover::after {
	left: 0;
	width: 100%;
}

.p-top-content__wrapper {
	margin-top: initial;
}

.p-top-content__list {
	-ms-grid-columns: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.p-top-content__link:hover::before {
	opacity: 0.2;
}

.p-top-content__link::before {
	background-color: #fff;
	bottom: 0;
	content: '';
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s;
	z-index: 2;
}

.p-top-content__img {
	padding-top: 100%;
}

.p-top-content__text {
	font-size: 1.5625rem;
}

.p-top-mv__titlebox {
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.p-top-mv__title {
	font-size: 3.125rem;
	letter-spacing: 0.03125rem;
	line-height: 1;
}

.p-top-mv__subtitle {
	font-size: 1.5rem;
	line-height: 1.8;
	margin-top: 1.5rem;
	padding: 0 3.125rem;
}

.p-top-mv__subtitle--second {
	margin-top: 1.25rem;
}

.p-top-news__btnblock {
	position: relative;
	z-index: 1;
}

.p-top-news__btnblock:hover {
	color: #333333;
	transition: all .3s;
}

.p-top-news__btnblock::after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .3s;
	width: 0;
	z-index: -1;
}

.p-top-news__btnblock:hover::after {
	left: 0;
	width: 100%;
}

.p-top-overview__body::after {
	width: 70%;
}

.p-top-overview__wrapper {
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	padding-bottom: 5rem;
	padding-top: 5rem;
}

.p-top-overview__imgblock {
	margin-left: 2rem;
	margin-right: initial;
	max-width: 34.8125rem;
	width: 100%;
}

.p-top-overview__img {
	padding-top: 62.5%;
}

.p-top-overview__content {
	padding-top: 1.25rem;
}

.p-top-overview__title {
	font-size: 1.5625rem;
	letter-spacing: 0.03125rem;
	line-height: 0.632;
	text-align: left;
}

.p-top-overview__text {
	letter-spacing: 0.03125rem;
	line-height: 2.1875;
	margin-top: 3rem;
	max-width: 31.875rem;
	width: 100%;
}

.p-top-overview__btnblock {
	position: relative;
	z-index: 1;
}

.p-top-overview__btnblock:hover {
	color: #333333;
	transition: all .3s;
}

.p-top-overview__btnblock::after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .3s;
	width: 0;
	z-index: -1;
}

.p-top-overview__btnblock:hover::after {
	left: 0;
	width: 100%;
}

.p-top-works__body::after {
	width: 70%;
}

.p-top-works__wrapper {
	align-items: center;
	display: flex;
	padding-bottom: 3.125rem;
	padding-top: 5.125rem;
}

.p-top-works__swiper {
	margin-left: initial;
	margin-right: 2rem;
	max-width: 34.8125rem;
	width: 100%;
}

.p-top-works__slide {
	padding-top: 62.5%;
}

.p-top-works__slide-title {
	font-size: 1.875rem;
}

.p-top-works__slide-text {
	font-size: 1.125rem;
	margin-top: 1.25rem;
}

.p-top-works__pagenation-wrapper {
	margin-left: 14.3125rem;
	margin-top: 0.375rem;
	text-align: left;
}

.p-top-works__content {
	padding-top: 1.375rem;
}

.p-top-works__title {
	font-size: 1.5625rem;
	letter-spacing: 0.03125rem;
	line-height: 1.1;
	text-align: left;
}

.p-top-works__text {
	letter-spacing: 0.03125rem;
	line-height: 2.1875;
	margin-top: 3rem;
	max-width: 31.875rem;
	width: 100%;
}

.p-top-works__btnblock {
	position: relative;
	z-index: 1;
}

.p-top-works__btnblock:hover {
	color: #333333;
	transition: all .3s;
}

.p-top-works__btnblock::after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .3s;
	width: 0;
	z-index: -1;
}

.p-top-works__btnblock:hover::after {
	left: 0;
	width: 100%;
}

.p-works-header__title {
	font-size: 2.5rem;
}

.p-works-slider__img--main {
	padding-top: 62.5%;
}

.swiper-button-next,
.swiper-button-prev {
	height: 3.125rem;
	width: 3.125rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 1.875rem;
}

.p-works-slider__img--thumbnail {
	padding-top: 20%;
}

.p-works-textarea__title {
	font-size: 1.5rem;
	margin-left: 2.375rem;
}

.p-works__list {
	-ms-grid-columns: 1fr 1fr;
	-moz-column-gap: 3rem;
	row-gap: 7.125rem;
	column-gap: 3rem;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.p-works__list > li:nth-child(n+2) {
	margin-top: initial;
}

.p-works__img {
	padding-top: 62.5%;
}

.p-works__title {
	margin-top: 0.75rem;
}

.js-glowAnime span {
	opacity: 1;
}

.u-hidden-pc {
	display: none;
}

.u-hidden-tab {
	display: initial;
}

.u-show-tab {
	display: none;
}

.u-link-hover__nav {
	position: relative;
}

.u-link-hover__nav::after {
	background-color: #FFEA2E;
	bottom: 0.5rem;
	content: '';
	height: 1px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	transition: .3s;
	width: 0;
}

.u-link-hover__nav:hover::after {
	width: 75%;
}

}

@media (min-width: 1100px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1100px) {

.c-test {
	color: blue;
}

}

@media screen and (min-width: 1440px) {

.c-test {
	color: brown;
}

}

@-webkit-keyframes neonButtonAnimate {

0% {
	transform: rotate(0deg);
}

100% {
	transform: rotate(360deg);
}

}

@keyframes neonButtonAnimate {

0% {
	transform: rotate(0deg);
}

100% {
	transform: rotate(360deg);
}

}

@-webkit-keyframes logoAnime {

0% {
	color: #fff;
	filter: blur(0) hue-rotate(0deg);
	text-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #00ccff;
}

30% {
	color: #fff;
	filter: blur(0) hue-rotate(360deg);
	text-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #00ccff;
}

50% {
	color: #fff;
	filter: blur(0) hue-rotate(0deg);
	text-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #00ccff;
}

70% {
	color: #fff;
	filter: blur(0) hue-rotate(360deg);
	text-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #00ccff;
}

100% {
	box-shadow: none;
	color: transparent;
	filter: blur(0) hue-rotate(0deg);
}

}

@keyframes logoAnime {

0% {
	color: #fff;
	filter: blur(0) hue-rotate(0deg);
	text-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #00ccff;
}

30% {
	color: #fff;
	filter: blur(0) hue-rotate(360deg);
	text-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #00ccff;
}

50% {
	color: #fff;
	filter: blur(0) hue-rotate(0deg);
	text-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #00ccff;
}

70% {
	color: #fff;
	filter: blur(0) hue-rotate(360deg);
	text-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #00ccff;
}

100% {
	box-shadow: none;
	color: transparent;
	filter: blur(0) hue-rotate(0deg);
}

}

@-webkit-keyframes zoomUp {

0% {
	transform: scale(1);
}

100% {
	transform: scale(1.15);
}

}

@keyframes zoomUp {

0% {
	transform: scale(1);
}

100% {
	transform: scale(1.15);
}

}

@-webkit-keyframes blurAnime {

from {
	filter: blur(10px);
	opacity: 0;
	transform: scale(1.02);
}

to {
	filter: blur(0);
	opacity: 1;
	transform: scale(1);
}

}

@keyframes blurAnime {

from {
	filter: blur(10px);
	opacity: 0;
	transform: scale(1.02);
}

to {
	filter: blur(0);
	opacity: 1;
	transform: scale(1);
}

}

@-webkit-keyframes blur {

from {
	filter: blur(0);
}

to {
	filter: blur(5px);
}

}

@keyframes blur {

from {
	filter: blur(0);
}

to {
	filter: blur(5px);
}

}

@-webkit-keyframes fadeInAnime {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@keyframes fadeInAnime {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}

@-webkit-keyframes glow_anime_on {

0% {
	opacity: 0;
	text-shadow: 0 0 0 #fff,0 0 0 #fff;
}

20% {
	opacity: 0;
	text-shadow: 0 0 0 #fff,0 0 0 #fff;
}

50% {
	opacity: 1;
	text-shadow: 0 0 10px #fff,0 0 15px #fff;
}

90% {
	opacity: 1;
	text-shadow: 0 0 0 #fff,0 0 0 #fff;
}

100% {
	opacity: 1;
	text-shadow: none;
}

}

@keyframes glow_anime_on {

0% {
	opacity: 0;
	text-shadow: 0 0 0 #fff,0 0 0 #fff;
}

20% {
	opacity: 0;
	text-shadow: 0 0 0 #fff,0 0 0 #fff;
}

50% {
	opacity: 1;
	text-shadow: 0 0 10px #fff,0 0 15px #fff;
}

90% {
	opacity: 1;
	text-shadow: 0 0 0 #fff,0 0 0 #fff;
}

100% {
	opacity: 1;
	text-shadow: none;
}

}

@-webkit-keyframes UpAnime {

from {
	opacity: 1;
	transform: translateY(0);
}

to {
	opacity: 0;
	transform: translateY(-100px);
}

}

@keyframes UpAnime {

from {
	opacity: 1;
	transform: translateY(0);
}

to {
	opacity: 0;
	transform: translateY(-100px);
}

}

@-webkit-keyframes DownAnime {

from {
	opacity: 0;
	transform: translateY(-100px);
}

to {
	opacity: 1;
	transform: translateY(0);
}

}

@keyframes DownAnime {

from {
	opacity: 0;
	transform: translateY(-100px);
}

to {
	opacity: 1;
	transform: translateY(0);
}

}

