.p-contact-section {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient( rgba($color: $background-accent, $alpha: 1.0), rgba($color:$background-accent, $alpha: 0.7)) ,url("../img/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 25%;
}

.p-contact-section__inner {
  padding-top: rem(60);
  padding-bottom: rem(60);
  @include mq() {
    padding-top: rem(90);
    padding-bottom: rem(90);
  }
}

.p-contact-section__header {}


.p-contact-section__textblock {
  margin-top: rem(17);
  @include mq() {
    margin-top: rem(22);
    text-align: center;
  }
}

.p-contact-section__text {
  font-size: rem(16);
  letter-spacing: rem(2);
  font-weight: $regular;
  line-height: 1.438;
  @include mq() {
    font-size: rem(16);
    line-height: initial;
    font-weight: $regular;
  }
}

.p-contact-section__btnblock {
  background-color: $background-accent;
  @include mq() {
    @include hover__left-to-right($text-inverted-color, $background-inverted-color);
  }
}
