.p-page {}

.p-page__inner {}

.p-page__content h2 {
  display: block;
  font-size: rem(40);
  font-weight: $bold;
  padding: 0 rem(4);
  border-left: rem(10) solid $title-color;
  background-color: rgba($color: $title-color, $alpha: 0.1);
}

.p-page__content h3 {
  display: inline-block;
  font-size: rem(30);
  font-weight: $medium;
  border-bottom: rem(5) solid $title-color;
}

.p-page__content h4 {
  display: inline-block;
  font-size: rem(26);
  font-weight: $medium;
  border-bottom: rem(5) solid $title-color;
}

.p-page__content p {
  margin-top: rem(30);
  line-height: 2;
}