.p-section-header {
  position: relative;
}

.p-section-header__title--en {
  display: block;
  font-family: $font-family-sub;
  color: $title-color;
  opacity: 0.27;
  font-size: rem(50);
  font-weight: $font-weight-base;
  line-height: 1;
  text-align: center;
  text-transform: capitalize;
  @include mq() {
    font-size: rem(110);
    text-align: start;
  }
}

.p-section-header__title--ja {
  display: block;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  font-size: rem(20);
  text-align: center;
  @include mq() {
    font-size: rem(30);
    top: 10%;
  }
}

