.p-single {}

.p-single__inner {}

.p-single__content h1 {
  display: inline-block;
  font-size: rem(24);
  font-weight: $bold;
  padding: 0 rem(4);
  @include mq() {
    font-size: rem(38);
  }
}

.p-single__content h2 {
  margin-top: rem(5);
  font-size: rem(22);
  font-weight: $bold;
  padding: 0 rem(4);
  border-left: 6px double $title-color;
  @include mq() {
    font-size: rem(32);
  }
}

.p-single__content h3 {
  display: inline-block;
  font-size: rem(20);
  font-weight: $medium;
  border-bottom: rem(5) solid $title-color;
  @include mq() {
    font-size: rem(28);
  }
}

.p-single__content h4 {
  display: inline-block;
  font-size: rem(18);
  font-weight: $medium;
  border-bottom: rem(5) solid $title-color;
  @include mq() {
    font-size: rem(24);
  }
}

.p-single__content p {
  margin-top: rem(30);
  line-height: 2;
  font-size: rem(16);
  @include mq() {
  font-size: rem(18);
  }
}