.p-works-moreButton {
  text-align: center;
}

.p-works-moreButton__inner {
  position: relative;
}

.p-works-moreButton__prev {
  position: absolute;
  top: 0;
  left: 30%;
  
}

.p-works-moreButton__archive {
  margin: 0 auto;
}

.p-works-moreButton__next {
  position: absolute;
  top: 0;
  right: 30%;
}

.p-works-moreButton__link {
  padding: rem(10) rem(20);
  border: 1px solid $text-color;
  background-color: $background-accent;
}

.p-works-moreButton__link:hover {
  transition: 0.3s;
  background-color: $background-inverted-color;
  color: $text-inverted-color;
}