.p-top-overview{}

.p-top-overview__inner {}

.p-top-overview__body {
  position: relative;
}

.p-top-overview__body::after {
  background-color: $gray;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  @include mq() {
    width: 70%;
  }
}

.p-top-overview__wrapper {
  margin-top: rem(48);
  @include mq() {
    margin-top: initial;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.p-top-overview__imgblock {
  margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
  width: 100vw;
  @include mq() {
    width: 100%;
    max-width: rem(557);
    margin-left: rem(32);
    margin-right: initial;
  }
}



.p-top-overview__img {
  position: relative;
  width: 100%;
  padding-top: 62.5%;
  @include mq() {
    padding-top: 62.5%;
  }
}

.p-top-overview__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-top-overview__content {
  padding-top: rem(24);
  padding-bottom: rem(21);
  @include mq() {
    padding-top: rem(20);
  }
}

.p-top-overview__title {
  text-align: center;
  font-size: rem(20);
  font-weight: $regular;
  letter-spacing: rem(2);
  @include mq() {
    text-align: left;
    font-size: rem(25);
    letter-spacing: rem(0.5);
    line-height: 0.632;
  }
}

.p-top-overview__text {
  margin-top: rem(22);
  font-size: rem(16);
  font-weight: $regular;
  letter-spacing: rem(2);
  line-height: 1.438;
  @include mq() {
    margin-top: rem(48);
    max-width: rem(510);
    width: 100%;
    letter-spacing: rem(0.5);
    line-height: 2.1875;
  }
}

.p-top-overview__btnblock {
  background-color: $background-accent;
  @include mq() {
    @include hover__left-to-right($text-inverted-color, $background-inverted-color);
  }
}



